.heading{
    color:orange

}
.heading:hover{
    color:red

}
.loader{
    animation: spinner 1s linear infinite;
}

@keyframes spinner{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);

    }
}
@media screen and (min-width:1024px){
    .heading{
        font-size: 50px;
    }
}

